.itemTopicTop{  
  overflow: hidden;
  text-overflow: ellipsis; 
}
.overlay-relative{
    position: relative;
    overflow: hidden;
    img{
        width: 200px;
        height: 200px;
    }
    .overlay-img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0;
        transition: 0.8s;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 50px;
        }
    }
    span{
        margin-right: 10px;
    }
}
.overlay-relative:hover img{
    transition: 1.5s;
    transform: scale(1.2);
}
.overlay-relative:hover .overlay-img{
    opacity: 0.75;
}
.ant-add-playlist{
    margin-top: 17px;
    width: 23px;
    background-color: transparent;
    border : none;
    .ant-icon-heart{
        margin: 0px; 
        color: #fff; 
        font-size: 23px;
    }
}
.ant-remove-playlist{
    margin-top: 17px;
    width: 23px;
    background-color: #fff;
    border: none;
    .ant-icon-remove-heart{
        margin: 0px;
        border-radius: 50%;
        color: black;
        font-size: 23px;
    }
}
.ant-play-music{
    width: 45px;
    margin: 0px 10px;
    border : none;
    background-color: transparent;
}
.ant-dash-more{
    margin-top: 17px;
    width: 23px;
    background-color: transparent;
    border: none;
    .ant-icon-dash{
        margin: 0px; 
        color: white; 
        font-size: 23px;
    }
}