.title-icon-playlist{
    display: grid;
    grid-template-columns: 400px auto;
    .slider-icon-playlist-wraper{
        text-align: right;
        img{
            margin-left: 20px;
        }
    }
}