.ant-popover-inner-content{
    p{
        display: inline-block;
    }
    .text-ant{
        margin-right: 100px;
        font-size: 15px;
    }
}
// .input-form-login-wrapper{
//     position: relative;
// }
.ant-popover-placement-top {
    width: 400px;
    left: 65%;
}