.Pages{
   
}

.box-list-item-new-song-wrapper{
    display: grid;
    margin-top: 30px;
    grid-template-columns: 33% 33% 33% ;
    grid-column-gap : 10px;
        .box-item-new-song-wrapper{
            display: grid;
            grid-template-columns: 50px auto;
            margin-top: 10px;
            img{
                width: 50px;
            }
            .box-title-new-song-wrapper{
                margin-left: 20px;
                h5:hover{
                    color: #6e55b4;
                }
                p:hover{
                    color: #6e55b4;
                }
            }
        }
}
.box-all-mv-hot{
    margin-top: 50px;
    display: grid;
    grid-template-columns:600px auto;
    grid-column-gap: 30px;
    .banner-mv-hot-wrapper{
        img{
            width: 600px;
        }
    }
    .list-mv-hot-wrapper{
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 20px;
        .item-mv-hot-wrapper{
            img{
                width: 270px;
                height: 130px;
            }
            p{
                font-size: 12px;
            }
            h6:hover{
                color: #6e55b4;
            }
            p:hover{
                color : #6e55b4;
            }

        }
    } 
}
  
.list-item-mix-wrapper{
    padding: 30px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 450px auto;
    background-color: #FFF;
    box-shadow: 1px 1px 2px 2px #e3e3e3e3;
    .mix-info-wrapper{
        display: grid;
        grid-template-columns: 200px auto;
        grid-column-gap : 15px;
        img{
            width: 200px;
        }
    }
    .list-right-mix-wrapper{
        display: grid;
        grid-template-columns: auto auto;
        padding-left: 20px;
        .mix-list-item-wrapper{
            margin-bottom: 10px;
            position: relative;
            p{
                display: inline;
                margin-right: 20px;
                margin-left: 5px;
            }
            .hover-mix-item{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-columns: auto auto;
                opacity: 0;
                transition: 0.3s;
                .icon-right{
                    text-align: right;
                    margin-right: 5px;
                }
            }
        }
        .mix-list-item-wrapper:hover .hover-mix-item{
            opacity: 1;
        }
        .mix-list-item-wrapper:hover p{
            opacity: 0;
        }
    }
}