.box-topic{
    margin-top: 40px;
    .box-title-topic-wrapper{
        margin-bottom: 20px;
        h2{
            display: inline-block;
        }
        .icon-topic-wrapper{
            display: inline-block;
            margin-left: 10px;
            img{
                width: 25px;
            }
        }
    }
    .box-thum-topic-wrapper{
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-column-gap: 50px;
    }
}